<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
    <nav style="width: 100%;" class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index_admin'%}" >Hotel</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'rooms_admin'%}">Список комнат</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'add_room'%}">Добавить комнату</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'admin_applications' %}">Список заявок</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center mb-3 mt-5">
        {% for room in rooms %}
        <div class="rounded-3 ms-3 d-flex flex-column justify-content-center align-items-center" style="width: 300px; background-color: rgb(57, 57, 57); height: 300px; color: white;">
            <p>Название - {{room.title}}</p>
            <p>Цена - {{room.price}}</p>
            <a href="{% url 'delete_room' room.slug %}" class="btn btn-primary">Удалить</a>
            <a href="{% url 'change_hidden' room.slug %}" class="btn btn-primary mt-3">{% if room.is_hidden == False %}Скрыть{% else %}Показать{% endif %}</a>
        </div>
        {% endfor %}
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>